<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>Lista de Tarefas</title>
    <html>
        
        <body>
            <div class="tarefas">
                <h1>Lista de Tarefas</h1>
                <form method="post">
                    <input type="text" name="tarefa">
                    <input type="submit" name="acao" value="Inserir">
                </form>
    
                <% for(let i = 0; i < tarefasList.length; i++){ %>
                <p><%= tarefasList[i] %> | <a href="/deletar/<%= i %>">X</a></p>
            <% } %>
        </div>
    </body>
</head>
</html>